<ul class="nav side-menu panel-nav">
  <li class="active">
    <a class="nav-link"><i class="fa fa-th-large"></i> General </a>
  </li>
  <ul class="nav child_menu" role="tablist">
    <li>
      <a class="nav-link" href="#panel-overview" data-toggle="tab">
        <i class="fa fa-bar-chart"></i> Overview
      </a>
    </li>
    <li>
      <a class="nav-link" href="#panel-content" data-toggle="tab">
        <i class="fa fa-file-text-o"></i> Content Types
      </a>
    </li>
    <li>
      <a class="nav-link" href="#panel-files" data-toggle="tab">
        <i class="fa fa-list-alt"></i> Files
      </a>
    </li>
    <li>
      <a class="nav-link" href="#panel-forms" data-toggle="tab">
        <i class="fa fa-list-alt"></i> Forms
      </a>
    </li>
    <li>
      <a class="nav-link" href="#panel-languages" data-toggle="tab">
        <i class="fa fa-language"></i> Languages
      </a>
    </li>
    <li>
      <a class="nav-link" href="#panel-performance" data-toggle="tab">
        <i class="fa fa-tachometer"></i> Performance
      </a>
    </li>
  </ul>
</ul>
