<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <!-- Meta, title, CSS, favicons, etc. -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="images/favicon.ico" type="image/ico" />

  <title>Drupal Content Audit</title>

  <!-- Bootstrap -->
  <link href="/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
  <!-- Font Awesome -->
  <link href="/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <!-- Custom Theme Style -->
  <link href="/css/custom.css" rel="stylesheet">
  <!-- Datatable -->
  <link rel="stylesheet" href="/vendors/datatables.net-bs/css/dataTables.bootstrap.min.css">

  <style media="screen">
    #sitemap-form {
      display: block;
      padding: 10px 0;
      text-align: right;
      min-width: 300px;
    }
  </style>
</head>
