<ul class="nav sidebar-nav">
  <li class="nav-item active">
    <a class="nav-link" href="#overview" data-toggle="tab">
      <i class="material-icons">dashboard</i>
      <p>Overview</p>
    </a>
  </li>
  <li class="nav-item ">
    <a class="nav-link" href="#content" data-toggle="tab">
      <i class="material-icons">library_books</i>
      <p>Content Types</p>
    </a>
  </li>
  <li class="nav-item ">
    <a class="nav-link" href="#forms" data-toggle="tab">
      <i class="material-icons">notes</i>
      <p>Forms</p>
    </a>
  </li>
  <li class="nav-item ">
    <a class="nav-link" href="#languages" data-toggle="tab">
      <i class="material-icons">g_translate</i>
      <p>Languages</p>
    </a>
  </li>
  <li class="nav-item ">
    <a class="nav-link" href="#statuscodes" data-toggle="tab">
      <i class="material-icons">error_outline</i>
      <p>Status Codes</p>
    </a>
  </li>
</ul>
