<div class="tab-content clearfix">
  <div class="tab-pane active" id="panel-overview">
    bler
    <% include overview %>
  </div>
  <div class="tab-pane" id="panel-content">
    <% include content %>
  </div>
  <div class="tab-pane" id="panel-forms">
    <% include forms %>
  </div>
  <div class="tab-pane" id="panel-languages">
    <% include languages %>
  </div>
  <div class="tab-pane" id="panel-performance">
    <% include performance %>
  </div>
</div>
